.addForm {
  width: 1400px;
  padding-top: 140px;
  margin: auto;
}

.nullCheck {
  color: red;
}

.inpform {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #769fcd;
  color: #333;
  border-radius: 5px;
}
.inpform.error {
  border-color: #d74f4f;
}
.inpform::-webkit-input-placeholder {
  color: #769fcd;
}
.inpform::-moz-placeholder {
  color: #769fcd;
}
.inpform:-moz-placeholder {
  color: #769fcd;
}
.inpform:-ms-input-placeholder {
  color: #769fcd;
}
.inpform:-o-placeholder {
  color: #769fcd;
}
.inpform:focus,
.inp_slct select:focus {
  border-color: #333;
}
input:disabled,
textarea:disabled {
  background-color: #d6e6f2;
  border: 1px solid #d6e6f2;
  color: #769fcd;
}
input:disabled {
  height: 40px;
  padding: 0 10px;
}

.txtareaform {
  width: 100%;
  padding: 10px;
  border: 1px solid #769fcd;
  resize: none;
  border-radius: 5px;
  line-height: 1.5;
}
.txtareaform:focus {
  border-color: #254e7c;
}
.txtareaform::-webkit-input-placeholder,
.txtareaform::-moz-placeholder,
.txtareaform:-moz-placeholder,
.txtareaform:-ms-input-placeholder,
.txtareaform:-o-placeholder {
  color: #769fcd;
}

.startDate {
  width: 300px;
}

dt {
  margin-top: 20px;
  margin-bottom: 10px;
}
.subBtn {
  float: right;
}
